@import "bootstrap-3.0.0/less/bootstrap.less";

body{
  background: url("../includes/img/patterns/brushed.png");

  .section{
    margin-bottom: 4em;

    .thumb-item{
      margin-bottom: 2em;
      height: 400px;
    }
  }
}

header{
  margin-bottom: 2em;
}

.picture img{
  max-width: 100%;
}